/* You can add global styles to this file, and also import other style files */
$bg-color1: #7ECCB6;
$bg-color2: #71b7a3;
$color1: #FFFFFF;
$color2: #325148;


html {
    background-color: $bg-color1;
}

body {
    margin: 0;
}

.header {
    height: 50px;
    line-height: 50px;
    color: $color1;
    font-size: 25px;
    padding-left: 10px;
    background: $bg-color2;
}

.card {
    width: 500px;
    margin: 0 auto;
    background: $color1;
    text-align: center;
    padding: 20px;
    color: $color2;
}

form {
    button {
        border-radius: 0;
        border: none;
        background: $color2;
        color: $color1;
        padding: 5px;
        height: 35px;
    }
    
    input {
        border: none;
        background: #DDD;
        color: $color1;
        padding: 5px;
        height: 25px;
        width:300px
    }
}
